// Fonts
$font-family: 'Open Sans', sans-serif;

// Colors
$background-arrow: rgba(255, 255, 255, 0.6);
$background-arrow-hover: rgba(255, 255, 255, 0.9);
$background-modal: rgba(0, 0, 0, .9);

$color-arrow: #333;
$color-button: #fff;